// git config --global --edit core.editor "code --wait"

[user]
  name = ...
  email = ...
[core]
  editor = code --wait
[init]
  defaultBranch = master
	[alias]
  global = !git config --global --edit
  s = !git status -s
  c = !git add . && commit -m
  amend = !git add . && git commit --amend --no-edit
  l = !git log --pretty=format:'%C(blue)%h%C(red)%d %C(white)%s %C(cyan)[%cn] %C(green)%cr'
